* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(34, 34, 34);
    color: #ccc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Media queries*/
@media only screen and (min-width: 100px) {
    /* For mobiles: */
    .col-mb1 {width: 8.33%;}
    .col-mb2 {width: 16.66%;}
    .col-mb3 {width: 25%;}
    .col-mb4 {width: 33.33%;}
    .col-mb5 {width: 41.66%;}
    .col-mb6 {width: 50%;}
    .col-mb7 {width: 58.33%;}
    .col-mb8 {width: 66.66%;}
    .col-mb9 {width: 75%;}
    .col-mb10 {width: 83.33%;}
    .col-mb11 {width: 91.66%;}
    .col-mb12 {width: 100%;}   
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-tab1 {width: 8.33%;}
    .col-tab2 {width: 16.66%;}
    .col-tab3 {width: 25%;}
    .col-tab4 {width: 33.33%;}
    .col-tab5 {width: 41.66%;}
    .col-tab6 {width: 50%;}
    .col-tab7 {width: 58.33%;}
    .col-tab8 {width: 66.66%;}
    .col-tab9 {width: 75%;}
    .col-tab10 {width: 83.33%;}
    .col-tab11 {width: 91.66%;}
    .col-tab12 {width: 100%;}
    }
@media only screen and (min-width: 992px)  {
    /*For desktops: */
    .col-dsk1 {width: 8.33%;}
    .col-dsk2 {width: 16.66%;}
    .col-dsk3 {width: 25%;}
    .col-dsk4 {width: 33.33%;}
    .col-dsk5 {width: 41.66%;}
    .col-dsk6 {width: 50%;}
    .col-dsk7 {width: 58.33%;}
    .col-dsk8 {width: 66.66%;}
    .col-dsk9 {width: 75%;}
    .col-dsk10 {width: 83.33%;}
    .col-dsk11 {width: 91.66%;}
    .col-dsk12 {width: 100%;}
}
#signin-bar {
    float: right;
}
.signin-bottom {
    margin-top: 11px;
    padding:10px 30px; 
    float: right;
    color: white;
    cursor:pointer;
    font-size: 20px;
}
#signup-bar {
    border-radius: 3px;
    background-color: rgb(67, 190, 67);
    margin-left: 15px;
    float: right;
    padding-left: 10px;
    padding-right: 10px;
}
.signup-bottom {
    padding:4px 25px; 
    float: right;
    color: white;
    cursor:pointer;
    font-size: 20px;
}
#sessions-bar {
    float: right;
    background-color: rgb(90, 59, 204);
    border-radius: 3px;
    margin-right: 15px;
}
#sources {
    padding: 15px;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 15px;
    letter-spacing: 1px;
}
li {    
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 6px 10px;
    text-decoration: none;
}
span.material-icons{
    color: rgb(230, 230, 230);
    font-size: 30px;
    border-radius: 3px;
} 

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ccc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #23272A;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgb(0, 0, 0);  
}
/*Container size*/
.login {
    width: 480px;
    height: 650px;
}
.info {
    width: 60%;
}

h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 13px;
    font-size: 30px;
    margin-right: 36%;
}
form {
    text-align: center;
}
label {
    font-size: 15px;
    float: left;
    margin-left: 62px;
}
input, 
textarea {
    margin-bottom: 10px;
    border:1px solid rgb(20, 20, 20); 
    border-radius: 5px;
}
input[type=text], 
input[type=password], 
textarea {
    width: 74%;
    height: 40px;
    background-color: #1f2124;
    color: rgb(209, 209, 209);
    padding-left: 15px;
}

input[type=text]:focus,
[type=password]:focus{
    border-color: rgb(0, 97, 187);
}
input[type=file] {
    border: none;
}

input[type=submit] {
    margin-top: 15px;
    padding:10px 10%; 
    float: right;
    margin-right: 65px;
    border: none;
    color: white;
    cursor:pointer;
    background-color: rgb(4, 121, 230);
    font-size: 20px;
}
input[type=submit]:hover {
    background-color: rgb(0, 97, 187);
}
#error {
    color: red;
    text-align: center;
    padding-top: 40px;
}