@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=warp'); 
    
/*Html elements--*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background: linear-gradient(#1c004d, #5d33cc, #19aabf);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(34, 34, 34);
    color: #ccc;
    min-height: 100vh;
    overflow-x: hidden;
}
body.init {
    background-image: url("../images/background/wallpaper.png");
}
/*Header -- */
header{
    position: absolute;
    z-index: 1000;
    display: flex;
}
header ul {
    margin: 0;
    padding: 2em;
    overflow: hidden;
    font-size: 0.9rem;
}
header ul li {    
    list-style: none;
}
header ul li a {
    display: block;
    padding: 0.5em 2em;
    text-decoration: none;
    color: #818181;
    transition: 0.3s;
    font-size: 1.1rem;
}
.sidepanel  {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 4.5em;
}
.sidepanel a:hover {
    color: #f1f1f1;
}
.border-menu {
    /**/ 
}
.closebtn  {
    position: absolute;
    right: 1rem;
    top: 1rem;
}
span.material-icons{
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
} 
#mainmenu {
    padding: 0.1rem 0.1rem 1rem 1.3rem;
    color: #333;
}
/*Container on body --*/
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ccc;
    background-color: #23272A;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgb(0, 0, 0); 
    z-index: 50; 
}
.login {
    width: 480px;
    height: 680px;
}

.info {
    width: 60%;
}
.container h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 5vh;
    font-size: 25px;
    margin-right: 36%;
}
/*Input fields --*/
form {
    text-align: center;
}
form label {
    font-size: 15px;
    float: left;
    margin-left: 62px;
}
input, 
textarea {
    margin-bottom: 10px;
    border:1px solid rgb(20, 20, 20); 
    border-radius: 5px;
}
input[type=text], 
input[type=password], 
textarea {
    width: 74%;
    height: 40px;
    background-color: #1f2124;
    color: rgb(209, 209, 209);
    padding-left: 15px;
}

input[type=text]:focus,
[type=password]:focus{
    border-color: 2px solid rgb(0, 97, 187);
}
input[type=file] {
    border: none;
}

input[type=submit] {
    margin-top: 15px;
    padding:10px 10%; 
    float: right;
    margin-right: 65px;
    border: none;
    color: white;
    cursor:pointer;
    background-color: rgb(4, 121, 230);
    font-size: 20px;
}
input[type=submit]:hover {
    background-color: rgb(0, 97, 187);
}
/*Redirect buttons if you don't already have an account --
--under the input fields--*/
.signin-bottom,
.signup-bottom {
    text-decoration: none;
    float: right;
    cursor:pointer;
    font-size: 20px;
    color: white;
}
.signin-bottom {
    margin-top: 11px;
    padding:10px 30px; 
}
.signup-bottom {
    padding:0px 25px; 
}
/*Inf message on connect--*/
#error {
    color: rgb(255, 0, 0);
    text-align: center;
    padding-top: 50px;
    font-size: 13px;
}
#content {
    position: relative;
    padding: 2vw;
    background: #190835;
    z-index: 50;
}
#content h2 {
    font-size: 3.5em;
    margin: 0px;
    margin-bottom: 10px
}
#content p {
    margin-right: 7vw;
    font-size: 1.2em;
}
/*Scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px #222; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #160835; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #120629; 
}